<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Create</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
</script>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/memos.css" />


</head>
<body>
<div class="container">



<!-- Flashed messages before content -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h1>Memos</h1>

<!-- Get the user input of the date and memory -->
<div class="row">
<div class="col-xs-6 text-center">
  <label>Memo Date: </label>
  <input type=date name="input_date" id="input_date"/>
</div>
<div>
  <label>Memo Text: </label>
  <input type="text" name="input_text" id="input_text"/>
</div>  
</div>

<button type="button" name="create_memo" id="create_memo">Create Memo</button>


<script type="text/javascript">
  function create() {

  var SCRIPT_ROOT = {{ request.script_root|tojson|safe }} ;
  var memo_url = SCRIPT_ROOT + "/_create_memo";
  var input_date = $("#input_date").val();
  var input_text = $("#input_text").val();
  console.log("input_date is: "+input_date+"; text is: "+input_text);

  $.getJSON(memo_url, {input_date:input_date, input_text:input_text},
		  function(){}
	   );
  window.location = "/";
  } //end create function

  $(document).ready(function() {
  	$('button[name="create_memo"]').click(
  		function() {
  			create();
  		}); 
  })
  


</script>
 

</div> <!-- container -->
</body>
</html>
